<div class="container">
  <h1>Leave feedback below!</h1>
  <p>Remember, feedback should be actionable, specific, and kind!</p>
  <%=form_for @review do |f| %>
    <table id='new-review'>
      <tr>
        <td>Rating (1-5):</td>
        <td><%= f.text_field :rating %></td>
      </tr>
      <tr>
        <td>Enter Feedback here!</td>
        <td><%= f.text_area :body, size: "50x4" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Send feeback!" %></td>
      </tr>
    </table>
  <% end %>
</div>
